<!DOCTYPE html>
<html>
<head>
    <title>Zephyr</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/static/fonts/Sora-VariableFont_wght.ttf"/>
</head>
<body>
<header class="main-navigation">
    <a class="homepage" href="#">Zephyr</a>
    <div class="other-nav">
        <a href="#" class="active">LoL</a>
        <a asp-controller="Note" asp-action="All">Notes</a>
    </div>
</header>
<main>
    @RenderBody()
</main>
</body>
</html>