@import '../colors';

main {
    padding: 10px;
}


.wrapper {
    form > div {
        margin: 5px;
    }

    input, textarea {
        width: 100%;
    }

    .submit-note {
        width: 100%;
    }
}