@import '../colors.scss';

$text-color-light: rgba(255,255,255,.9);

$text-color-dark: rgba(0,0,0,.9);

.btn {
    display: block;
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    transition: transform 0.10s linear;
    cursor: pointer;

    &:focus {
        transform: scale(0.95);
    }

    &.orange {
        border-color: $color-orange;
        color: $text-color-dark;
        background-color: $color-orange;

        &:hover {
            border-color: $color-darkorange;
            background-color: $color-darkorange;
            color: $color-dark;
        }
    }

    &.red {
        border-color: $color-red;
        color: $text-color-light;
        background-color: $color-red;

        &:hover {
            border-color: $color-darkred;
            background-color: $color-darkred;
            color: $color-light;
        }
    }

    &.green {
        border-color: $color-green;
        color: $text-color-light;
        background-color: $color-green;

        &:hover {
            border-color: $color-darkgreen;
            background-color: $color-darkgreen;
            color: $color-light;
        }
    }

    &.cyan {
        border-color: $color-cyan;
        color: $text-color-light;
        background-color: $color-cyan;

        &:hover {
            border-color: $color-darkcyan;
            background-color: $color-darkcyan;
            color: $color-light;
        }
    }
}