.wrapper {
    padding: 10px;

    button {
        width: 100%;
        margin-top: 20px;
    }

    input {
        width: 100%;
    }

    .runes-wrapper {
        margin-top: 10px;

        a {
            border: 1px solid gray;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            padding: 5px;
            background-color: #e9e9e9;
            margin: 5px;
            display: inline-block;

            &:not(.active) {
                opacity: 0.5;
                border: 1px solid lightgray;

                img {
                    filter: grayscale(1);
                }
            }

            img {
                width: 100%;
                height: 100%;
            }
        }

        .styles-container {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
        }

        .slots-container {
            display: flex;
            flex-flow: column nowrap;

            .slot {
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
            }
        }

        .stat-container {
            width: fit-content;
            width: -moz-fit-content;
            margin: 0 auto;
        }
    }
}
