@model Zephyr.DAL.NotePoco[]

@{
    Layout = Layout;
}

@foreach (var note in Model)
{
    <div class="note">
        <h2>@note.Title</h2>
        <p>@note.Content</p>
        <div>
            <span>@note.Created</span>
            <span>@note.LastUpdated</span>
        </div>
    </div>
}

<h1>This is main</h1>