@section head {
    <link rel="stylesheet" href="/css/lol/runes.css"/>
}

@section footer {
    <script src="/js/lol/runes.js"></script>
}

<div class="runes-wrapper">
    <div class="primary-container">
        <div class="styles-container"></div>
        <div class="slots-container"></div>
    </div>
    <div class="sub-container">
        <div class="styles-container"></div>
        <div class="slots-container"></div>
    </div>
</div>