@section head {
    <link rel="stylesheet" href="/css/lol/home.css"/>
}

<div class="wrapper">
    <h1>League HUB</h1>
    <div class="card-navigation">
        <a class="card"
           asp-area="LoL" asp-controller="RunePage" asp-action="All">
            <div class="container">
                <img src="static/lol/perk-images/Styles/RunesIcon.png" alt="Runes Icon"/>
                <h4>Runepages</h4>
            </div>
        </a>
    </div>
</div>