$primary-text-color: #f8ffff;
$primary-background-color: #7D80DA;
$secondary-text-color: #b4b6f5;
$primary-text-shadow: rgb(0 0 0 / 30%) 0 2px 2px, rgb(255 255 255 / 76%) 0 -1px 1px;

$color-blue: #007bff;
$color-red: #dc3545;
$color-gray: #6c757d;
$color-green: #28a745;
$color-orange: #ffc107;
$color-cyan: #17a2b8;
$color-light: #f8f9fa;
$color-dark: #343a40;