$primary-text-color: #f8ffff;
$primary-background-color: #7D80DA;
$secondary-text-color: #b4b6f5;
$primary-text-shadow: rgb(0 0 0 / 30%) 0 2px 2px, rgb(255 255 255 / 76%) 0 -1px 1px;

$color-blue: #007bff;
$color-darkblue: #0063cc;
$color-red: #dc3545;
$color-darkred: #bf2231;
$color-gray: #6c757d;
$color-darkgray: #555c62;
$color-green: #28a745;
$color-darkgreen: #1f7f35;
$color-orange: #ffc107;
$color-darkorange: #d19d00;
$color-cyan: #17a2b8;
$color-darkcyan: #117c8d;
$color-purple: #7D80DA;
$color-darkpurple: #5458cf;
$color-lightpurple: #afb1e9;

$color-dark: #343a40;
$color-light: #f8f9fa;