@import 'colors';
@import 'navigation';
@import '_partials.scss';

html,
body {
    height: 100%;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: $primary-background-color;
    color: $primary-text-color;
    font-family: 'Sora', sans-serif;
    font-size: 16px;
    display: flex;
    flex-flow: column nowrap;
}

main {
    background-color: #FBFCFF;
    color: #1C2826;
    height: 100%;
}

h1 {
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
    color: darkgray;
}