@model Zephyr.DAL.NotePoco[];

@section head {
    <link href="/css/Note/all.css" rel="stylesheet"/>
}

<a class="btn green"
   asp-controller="Note" asp-action="Create">
    New note
</a>
@if (Model != null)
{
    <div class="notes-wrapper">
        @foreach (var note in Model)
        {
            <div class="note">
                <div class="title-wrapper">
                    <a class="title" asp-controller="Note" asp-action="Index" asp-route-id="@note.NoteId">@note.Title</a>
                    <div class="actions">
                        <a class="btn orange"
                            asp-controller="Note" asp-action="Edit" asp-route-id="@note.NoteId">
                            Edit
                        </a>
                        <a class="btn red"
                            asp-controller="Note" asp-action="DeleteConfirmation" asp-route-id="@note.NoteId">
                            Delete
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
}