@model Zephyr.Notes.NoteViewModel

@{
    Layout = Layout;
    string actionName = ViewData["actionName"].ToString();
}

@section head {
    <link rel="stylesheet" href="/css/Note/createoredit.css"/>
}

<div class="wrapper">
    <h1>
        @if (actionName == "Edit")
        {
            <span>Editing Note</span>
        }
        else
        {
            <span>Creating Note</span>
        }
    </h1>
    <form asp-controller="Note" asp-action="@actionName" method="POST">
        <div class="input-wrapper">
            
            <input placeholder="Title" asp-for="Title" value="@Model?.Title"/>
            <label asp-for="Title">Title</label>
        </div>
        <div>
            <textarea rows="10" class="textarea" placeholder="Content" asp-for="Content">
                @Model?.Content
            </textarea>
        </div>
        @if (actionName == "Edit")
        {
            <input type="hidden" asp-for="NoteId" value="@Model?.NoteId"/>
            <input type="hidden" asp-for="Created" value="@Model?.Created"/>
        }
        @if (Model?.ErrorMessages != null)
        {
            <div>
                @foreach (string errorMessage in Model.ErrorMessages)
                {
                    <div>@errorMessage</div>
                }
            </div>
        }
        <button class="btn cyan submit-note" type="submit">Save</button>
    </form>
</div>