@model Zephyr.DAL.NotePoco;
@{
    Layout = Layout;
}

<div class="note">
    <h2>@Model?.Title</h2>
    <p>@Model?.Content</p>
    <div>
        <span>@Model?.Created</span>
        <span>@Model?.LastUpdated</span>
    </div>
</div>